Source: mkalias
Section: utils
Priority: optional
Maintainer: Michael J Braun <Braun.josef.michael@gmail.com>
Uploaders: Michael J Braun <Braun.josef.michael@gmail.com>
Build-Depends: debhelper (>= 9~),
               gem2deb,
               ruby-rspec
Standards-Version: 3.9.8
Vcs-Git: https://github.com/beautifuljunkie/mkalias.git
Homepage: https://github.com/beautifuljunkie/mkalias.git
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: mkalias
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Bash alias management to facilitate alias creation
 Mkalias helps users to create alias, list alias and remove then. All alias are
 saved on ~/.bash_aliases, creating an alias and a function to alias, all functions
 name have 'mkalias' prefixed, and the alias are added on end of ~/.bash_aliases file
